# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Cosmolot-Big-Wins-master.iml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
